<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cms-style-blog</title>
    <link rel="stylesheet" href="/css/jass.css" />
  </head>

  <body>
    <header>
      <h1>CMS Style Blog</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          {{#if loggedIn}}
            <li><a href="#" id="logout">Logout</a></li>           
          {{else}}
            <li><a href="/signup">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    {{#if error}}
      <h2 class="error">{{error}}</h2>
    {{/if}}

    {{{body}}}

<script src="/js/scripts.js"></script>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>