{{!-- <h1>Dashboard</h1> --}}
<h3>Hello {{userName}}!</h3>

<h2><a href="/dashboard/new">Create Post</a></h2>

<section class="posts_container">
    {{#each posts as |post|}}
        {{> post post}}         
    {{/each}}
</section>
