{{> post post}}

{{!-- this section is for new comments if logged in --}}
{{#if loggedIn}}
<form id="create-comment-form">
    <input type="hidden" id="post-id" name="post-id" value="{{post.id}}">
    <textarea id="comment-content" name="comment-content" required></textarea>
    <button type="submit">Create Comment</button>
   
</form>
{{/if}}


{{!-- comments --}}

<div class="comment-container">
    <h3>Comments for this Post</h3>
    {{#each post.comments as |comment|}}
    {{> comment comment}}
    {{/each}}
</div>

<script src="/js/comment.js"></script>